<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".exml" mimeType="text/xml" />
            <mimeMap fileExtension=".fnt" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dbbin" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
